html, body{
  /*min-height: 100% !important;*/
  height: 100%;
  position: relative;

}

*{
  font-family: "Lucida Sans";
  /*background: #ffffff;*/
}

.ant-layout{
  background: #EDF0F4;
  /*background: #ffffff;*/

}

#app{
  height: 100%;
}



.system-title{
  color: #d8d8d8;
  font-size: 1.3em;
  margin-left: 10px;
  font-family: Bahnschrift SemiBold;
}


.paper-title{
  color: #8e8e8e;
  font-size: 1em;
  font-style: italic;
  float: right;
}

.component{
  border: solid 1px #ffffff;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
}

.view2_axisBottom{
  font-size: 0.8em;
}

.view4_axisBottom{
  font-size: 0.8em;
}

.ant-layout-header{
  padding: 0;
}


.control_panel{
  width: 100%;
  /*height: 40px;*/
  margin-bottom: 15px;
  /*padding: 30px;*/
}

.ant-form-item .ant-form-item-label >label{
  font-size: 12px;
}

.view_title_text{
  font-size: 2em;
  fill: #4b4b4b;
  font-weight: bold;
}

.view_title_icon{
  fill: #4b4b4b;
  font-size: 2em;
}


@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}


#path_animation{
  -webkit-animation: dash 30s linear infinite;
  stroke-dasharray: 6;
}


#path_animation_dandelion{
  -webkit-animation: dash 50s linear infinite;
  stroke-dasharray: 12 3;

}

.dandelion_div{
  border: solid 2px #6c6c6c;
  background: #EDF0F4;
}

.selection{
  opacity: 0.6;
}

label{
  font-size: 15px;
}