html, body{
  /*min-height: 100% !important;*/
  height: 100%;
  position: relative;

}

*{
  font-family: "Arial";
  /*background: #ffffff;*/
}

.ant-layout{
  background: #ffffff;
}

#app{
  height: 100%;
}



.system-title{
  color: #d8d8d8;
  font-size: 1.4em;
  margin-left: 50px;
  font-family: Bahnschrift SemiBold;
}


.paper-title{
  color: #8e8e8e;
  font-size: 1.2em;
  font-style: italic;
  float: right;
}

.component{
  height: 100%; /*后期可以去掉，等元素足够撑开border*/
  border: solid 1px #c7cabb;
  border-radius: 10px;
  padding: 15px;
}

.view2_axisBottom{
  font-size: 0.8em;
}